<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/index.css">
  <title>Le Vent IA</title>
</head>
<body>
  <header>
    <h1>A propos de Le Vent IA</h1>
  </header>
  <main>
    <h3>Notre IA de pointe entre vos mains</h3>
    <p>Une IA générative ouverte et portable pour les développeurs et les entreprises.</p>
    <img src="/images/IA-generative.webp" alt="IA image">
  </main>
  <footer>
    <p>Copyright © 2024 Le Vent IA</p>
  </footer>
</body>
</html>